root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
# General .NET code style
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
csharp_new_line_before_open_brace = all
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion

# Common analyzer severities (tune as needed)
dotnet_diagnostic.IDE0005.severity = warning   # remove unnecessary usings
dotnet_diagnostic.CA2000.severity = warning    # dispose objects
dotnet_diagnostic.CA1822.severity = suggestion # mark members static
